.main-overview {
    min-height: 70px;
    background-color: #fff;
    /* border-bottom: 1px solid #b9d2f6; */
    box-shadow: 0 2px 2px -1px #b9d2f6;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-overview>p {
    margin: 0;
    color: #828487;
}

.main-overview>h3 {
    margin: 0;
    font-weight: 600;
}

.row-status {
    width: 100%;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.status-card {
    display: flex;
    background-color: #fff;
    border-radius: .3rem;
    width: 24%;
    height: 6rem;
}

.status-card:last-child {
    padding: 0
}

.status-card>div:first-child {
    width: 30%;
    height: 100%;
    /* display: flex;
    align-items: center; */
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 1.3rem 0.5rem;
}

.status-card>div:last-child {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  */

.row-content {
    width: 100%;
    margin: 0;
    padding: 0 1rem 1rem 1rem;
    justify-content: space-between;
}

.graph-parent {
    width: 100%;
    margin: 0;
}

.graph-p {
    width: 74.7%;
    border-radius: 0.3rem;
    background-color: #fff;
    padding: 1rem;
}

.empty-patches-p {
    width: 24%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.empty-patches {
    background-color: #fff;
    height: 48.3%;
    border-radius: 0.3rem;
}

.first-bar,
.second-bar {
    width: 100%;
    margin: 0;
}

.first-bar>div {
    width: 50%;
}

.first-bar>div:first-child {
    display: flex;
    justify-content: space-around;
}

.first-bar>div:last-child {
    display: flex;
    justify-content: end;
}

.second-bar {
    justify-content: center;
}

#chai-chart {
    width: 100%;
}

.bookings_cancellations {
    width: 6px;
    height: 6px;
    border-radius: 1rem;
    margin-right: 0.3rem;
}

#green {
    background-color: green;
}

#red {
    background-color: red;
}

.dropdown-toggle {
    background-color: transparent;
    border: 1px solid #d5d5d5 !important;
}

.dropdown-toggle::after {
    color: rgb(62, 171, 117);
}