.configurations-dynamic-content {
    position: relative;
}

.main-doctorMS {
    min-height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #b9d2f6;
    box-shadow: 0 2px 2px -1px #b9d2f6;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: center; */
    justify-content: space-between;
}

.main-doctorMS>div>div {
    display: flex;
}

.main-doctorMS>div>div>p {
    margin: 0;
    color: #828487;
}

.main-doctorMS>div>div>span {
    margin: 0 5px;
    color: #828487;
}

.main-doctorMS>div>div>p:first-child {
    color: #068f4b;
    text-decoration: underline;
}

.main-doctorMS>div>h3 {
    margin: 0;
    font-weight: 600;
}

.uploadBanner:hover {
    background-color: #fff;
}

.docter-container {
    width: 100%;
    margin: 0;
    min-height: 100vh;
    background-color: #ebf3ff;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* padding: 1.5rem; */
    padding: 1rem;
}

.doctor-row {
    border-radius: 0.3rem;
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
}

.doctor-header {
    border-bottom: 1px solid #d7dbe0;
    display: flex;
    height: 2.6rem;
    width: 100%;
}

.doctor-header>div {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.dropleft .dropdown-toggle::before {
    content: none;
}

.dropdown-toggle {
    border: none;
}

.dropdown-toggle:focus {
    outline: none;
    border: none;
    box-shadow: none;
}

.doctor-banner-alert {
    background-color: #00000029;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    /* align-items: center; */
}

.doctor-banner-alert-main {
    margin-top: 2rem;
    background-color: #fff;
    width: 27rem;
    height: 11rem;
    z-index: 9999;
    border-radius: 0.3rem;
    padding: 1rem;
}

.doctor-banner-alert-main>h6:first-child {
    font-weight: 600
}

.doctor-banner-alert-main>h6:last-child {}

.popup-save-exit {
    background-color: #068f4b;
    color: #fff;
}

.popup-cancel {
    background-color: #fff;
    border: 1px solid #068f4b;
    color: #068f4b;
}

.configuration-popup,
.configuration-popup-edit {
    display: none;
    position: absolute;
    width: 504px;
    height: 100%;
    box-shadow: -3px 0 6px -4px black;
    right: 0;
    top: 0;
    background-color: #fff;
    z-index: 9;
}

.configuration-popup>.first-row,
.configuration-popup-edit>.first-row {
    width: 100%;
    margin: 0;
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid #d7dbe0;
}

.configuration-popup>.first-row>h6,
.configuration-popup-edit>.first-row>h6 {
    margin: 0;
    font-weight: 600;
}

.configuration-popup>.second-row,
.configuration-popup>.third-row,
.configuration-popup>.fifth-row,
.configuration-popup-edit>.second-row,
.configuration-popup-edit>.third-row {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    flex-direction: column;
}

.configuration-popup>.second-row>h6 {
    color: #068f4b;
    text-decoration: underline;
}

.configuration-popup>.third-row>h6:first-child,
.configuration-popup>.fifth-row>h6:first-child {
    font-weight: 600;
}

.configuration-popup>.third-row>h6:last-child,
.configuration-popup>.fifth-row>h6:last-child {
    color: #626466;
}

.configuration-popup>.fourth-row {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
}

.configuration-popup>.fourth-row>div>h6:first-child {
    font-weight: 600;
}

.configuration-popup>.fourth-row>div>h6:last-child {
    color: #626466;
}

.configuration-popup-edit>.second-row {
    align-items: start;
}

.configuration-popup-edit>.third-row {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    flex-direction: column;
}

.configuration-popup-edit>.third-row>h6 {
    font-weight: 600;
}

.configuration-popup-edit>.last-row {
    width: 100%;
    margin: 0;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 0;
}

.rename-alert {
    background-color: #00000029;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    /* align-items: center; */
}

.rename-alert-main {
    margin-top: 2rem;
    background-color: #fff;
    width: 27rem;
    height: 11rem;
    z-index: 9999;
    border-radius: 0.3rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.rename-alert-main>h6:first-child {
    font-weight: 600
}

.rename-alert-main>h6:last-child {}