.hospitalMS-dynamic-content {
    height: 100%;
    position: relative;
}

.main-hospitalMS {
    min-height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #b9d2f6;
    box-shadow: 0 2px 2px -1px #b9d2f6;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-hospitalMS>div {
    display: flex;
}

.main-hospitalMS>div>p {
    margin: 0;
    color: #828487;
}

.main-hospitalMS>div>span {
    margin: 0 5px;
    color: #828487;
}

.main-hospitalMS>div>p:first-child {
    color: #068f4b;
    text-decoration: underline;
}

.main-hospitalMS>h3 {
    margin: 0;
    font-weight: 600;
}

.hospital-row {
    background-color: #fff;
    width: 100%;
    min-height: 5rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}

.hospital-row>.dropdown {
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sort-by {
    margin: 0;
}

.right-items-hms {
    width: 19rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hospital-content {
    width: 100%;
    height: 84%;
    /* height: 29.6rem; */
    margin: 0;
    background-color: #fff;
}

.activeSpan{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
    background-color: #c4c7cc;
    display: flex;
}

.holdSpan{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
    background-color: #ff8b00;
    display: flex;
}

.inActiveSpan{
    width: 8px;
    height: 8px;
    border-radius: 8px;
    margin-right: 5px;
    background-color: #08b760;
    display: flex;
}

/* .hms-table-content {
    display: flex;
    width: 100%;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #d7dbe0;
}

.hms-table-content>h6 {
    width: 16%;
    font-weight: 600;
}

.hms-table-body {} */

.hms-table-content {
    width: 100%;
}

.hms-table-header,
.hms-table-row {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #d7dbe0;
}

.hms-table-header>h6 {
    width: 16%;
    font-weight: 600;
}

.hms-table-row>h6 {
    width: 16%;
    margin: 0;
}

.hms-popup-parent {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fff;
    width: 40rem;
    box-shadow: -3px 0 6px -4px black;
}

.hms-popup {
    width: 100%;
    height: 100%;
    position: relative;
}

.hms-popup>.first-row {
    width: 100%;
    margin: 0;
    min-height: 3.8rem;
    border-bottom: 1px solid #d7dbe0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.hms-popup>.first-row>h5 {
    font-weight: 600;
    margin: 0;
}

.hms-edit-btn:focus,
.hms-more-btn:focus {
    box-shadow: 0 0 0 0.2rem rgb(18 255 0 / 25%);
}

.hms-popup>.second-row {
    width: 100%;
    margin: 0;
    height: 5rem;
}

.hms-popup>.second-row>div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 1rem 0 0 1rem;
}

.hms-popup>.second-row>div:first-child {
    width: 40%;
    height: 100%;
}

.hms-popup>.second-row>div:last-child {
    width: 60%;
    height: 100%;
}

.hms-popup>.second-row>div>h6 {
    font-size: 14px;
    margin: 0;
}

.hms-popup>.second-row>div>h6:first-child {
    font-weight: 600;
    margin-bottom: .5rem;
}

.hms-popup>.second-row>div>h6:last-child {
    color: #626466;
}

.hms-popup>.third-row {
    width: 100%;
    margin: 0;
    height: 5rem;
}

.hms-popup>.third-row>div {
    width: 30%;
    height: 100%;
}

.hms-popup>.third-row>div {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0 1rem;
}

.hms-popup>.third-row>div>h6 {
    font-size: 14px;
    margin: 0;
}

.hms-popup>.third-row>div>h6:first-child {
    font-weight: 600;
    margin-bottom: .5rem;
}

.hms-popup>.third-row>div>h6:last-child {
    color: #068f4b;
    text-decoration: underline;
}

.hms-popup>.fourth-row {
    width: 100%;
    margin: 0;
    height: 225px;
    flex-direction: column;
}

.hms-popup>.fourth-row>h6 {
    padding-left: 1rem;
    font-weight: 600;
    font-size: 14px;
}

.hms-popup>.fourth-row>img {
    padding-left: 1rem;
}

.hms-popup>.fifth-row {
    width: 100%;
    margin: 0;
    margin-top: 1rem;
}

.hms-popup>.fifth-row>h6 {
    padding-left: 1rem;
    font-size: 14px;
}

.hms-popup>.fifth-row>h6:first-child {
    font-weight: 600;
}

.hms-popup>.fifth-row>h6:last-child {
    color: #626466;
}

.hms-popup>.sixth-row {
    width: 100%;
    height: 288px;
    margin: 0;
    margin-top: 1rem;
    flex-direction: column;
}

.hms-popup>.sixth-row>h6 {
    padding-left: 1rem;
    font-size: 14px;
    font-weight: 600;
}

.blue-dot {
    width: 6px;
    height: 6px;
    border-radius: 6px;
    margin-right: 0.5rem;
    background-color: #0850b7;
}

.blue-dot-item {
    margin: 0;
    font-size: 14px;
    color: #626466;
}

.hms-popup>.seventh-row {
    width: 100%;
    height: 151px;
    margin: 0;
    margin-top: 1rem;
    /* flex-direction: column; */
}

.hms-popup>.seventh-row>h6 {
    padding-left: 1rem;
    font-size: 14px;
    font-weight: 600;
}

.amenities-btns {
    /* width: 112px; */
    min-width: 112px;
    height: 37px;
    flex-grow: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    margin: 0 0.5rem 0.5rem 0;
    border-radius: 100px;
    border: solid 1px #e1e5eb;
    background-color: #fff;
    cursor: pointer;
}

.amenities-btns>h6 {
    margin: 0;
}

/* HMS POPUP EDIT */
.hms-popup-edit {
    display: none;
    width: 100%;
    height: 100%;
    position: relative;
}

.hms-popup-edit>.first-row {
    width: 100%;
    margin: 0;
    min-height: 3.8rem;
    border-bottom: 1px solid #d7dbe0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.hms-popup-edit>.first-row>h5 {
    font-weight: 600;
    margin: 0;
}

.saveHospital {
    background-color: #068f4b;
    color: #fff;
}

.cancelHospital {
    background-color: #fff;
    border: 1px solid #068f4b;
    color: #068f4b;
}

.saveHospital:focus,
.cancelHospital:focus {
    box-shadow: 0 0 0 0.2rem rgb(18 255 0 / 25%);
}

.hms-pop-edit-alert {
    background-color: #00000029;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: none;
    justify-content: center;
    /* align-items: center; */
}

.hms-pop-edit-alert-main {
    margin-top: 2rem;
    background-color: #fff;
    width: 27rem;
    height: 10rem;
    z-index: 9999;
    border-radius: 0.3rem;
    padding: 1rem;
}

.hms-pop-edit-alert-main>h6:first-child {
    font-weight: 600
}

.hms-pop-edit-alert-main>h6:last-child {
    /* font-size: 14px; */
    /* color: #d7dbe0; */
}

.popup-save-exit {
    background-color: #068f4b;
    color: #fff;
}

.popup-cancel {
    background-color: #fff;
    border: 1px solid #068f4b;
    color: #068f4b;
}

.hms-popup-edit>.second-row,
.hms-popup-edit>.third-row,
.hms-popup-edit>.fourth-row,
.hms-popup-edit>.fifth-row,
.hms-popup-edit>.sixth-row,
.hms-popup-edit>.seventh-row,
.hms-popup-edit>.eight-row,
.hms-popup-edit>.ninth-row {
    width: 100%;
    margin: 0;
    padding: 1rem;
}

.hms-popup-edit>.sixth-row,
.hms-popup-edit>.eight-row,
.hms-popup-edit>.ninth-row {
    flex-direction: column;
}

.hms-popup-edit>.second-row>.input-group>input,
.hms-popup-edit>.third-row>.input-group>input {
    font-size: 14px;
}

.hms-popup-edit>.second-row>label,
.hms-popup-edit>.third-row>label,
.hms-popup-edit>.fourth-row>.input-group>div>label,
.hms-popup-edit>.fifth-row>.input-group>div>label,
.hms-popup-edit>.sixth-row>h5,
.hms-popup-edit>.seventh-row>h5,
.hms-popup-edit>.eight-row>h5,
.hms-popup-edit>.ninth-row>h5 {
    font-size: 14px;
    font-weight: 600;
}

.check-box-item {
    margin: 0;
    font-size: 14px;
}

.green-checkboxes[type='checkbox'] {
    width: 15px;
    height: 15px;
    accent-color: #068f4b;
}

/* Hospital View */
.hospital-full-view {
    display: none;
}

.hospital-view {
    display: flex;
}

.hospital-view>div {
    flex: 1;
    min-height: 70px;
    background-color: #fff;
    border-bottom: 1px solid #b9d2f6;
    box-shadow: 0 2px 2px -1px #b9d2f6;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hospital-view>div:last-child {
    padding-right: 2rem;
    align-items: end;
}

.hospital-view>div>div {
    display: flex;
}

.hospital-view>div>div>p:last-child {
    margin: 0;
    color: #828487;
}

.hospital-view>div>div>span {
    margin: 0 5px;
    color: #828487;
}

.hospital-view>div>div>p {
    color: #068f4b;
    text-decoration: underline;
    margin: 0;
}

.hospital-view>div>h3 {
    margin: 0;
    font-weight: 600;
}

.hospital-view-content {
    width: 100%;
    min-height: 100vh;
}

.hospital-view-content>.first-row,
.hospital-view-content>.second-row {
    width: 100%;
    margin: 0;
}

.hospital-view-content>.first-row {
    height: 15rem;
}

.hospital-view-content>.second-row {
    min-height: 50rem;
}

.first-section-first,
.second-section-first {
    width: 70%;
    height: 100%;
    padding: 1rem;
}

.first-section-second,
.second-section-second {
    width: 30%;
    /* height: 100%; */
    padding: 1rem 1rem 1rem 0;
}

.second-section-first,
.second-section-second {
    padding-top: 0;
}

.first-section-first>.row-items {
    width: 100%;
    margin: 0;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.first-section-first>.row-items:first-child {
    align-items: start;
}

.first-section-first>.row-items:last-child {
    align-items: end;
}

.first-section-first>.row-items>.row-item {
    /* margin: 0 1rem; */
    width: 32%;
    height: 93%;
    border-radius: .3rem;
    /* border: 1px solid grey; */
    background-color: #fff;
    display: flex;
}

.first-section-first>.row-items>.row-item>div:first-child {
    display: flex;
    align-items: start;
    justify-content: end;
    padding: 1.3rem 0.5rem;
}

.first-section-first>.row-items>.row-item>div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-section-second>.row-item,
.second-section-first>.row-item,
.second-section-second>.row-item {
    width: 100%;
    height: 100%;
    /* border: 1px solid grey; */
    background-color: #fff;
    border-radius: .3rem;
}

.second-section-first>.row-item>.row {
    width: 100%;
    margin: 0;
}

.first-section-second>.row-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.first-section-second>.row-item>div {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.first-section-second>.row-item>div:last-child {
    flex-direction: column;
}

.one-row {
    height: 3rem;
    border-bottom: 1px solid #d7dbe0;
}

.one-row>div {
    width: 50%;
    height: 100%;
}

.one-row>div>h6 {
    margin: 0;
}

.one-row>div:first-child {
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.one-row>div:last-child {
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 1rem;
}

.two-row {
    height: 181px;
}

.two-row>div {
    height: 100%;
}

.two-row>div:first-child {
    width: 45%;
}

.two-row>div:last-child {
    width: 55%;
}

.two-row-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.three-row {
    height: 100px;
}

.three-row>div {
    height: 100%;
    width: 33.33%;
    padding: 1rem;
}

.four-row {
    height: 103px;
    padding: 1rem;
}

.five-row {
    height: 22rem;
    padding: 1rem;
}

.five-row>div {
    height: 100%;
    width: 50%;
}

.services-offered>div {
    display: flex;
    align-items: center;
    margin-bottom: .4rem;
}

.services-offered>div>h6 {
    margin: 0;
}

.head-division {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3rem;
    border-bottom: 1px solid #d7dbe0;
    padding: 0 1rem;
}

.head-division>h6 {
    /* font-size: 14px; */
    font-weight: 600;
    margin: 0;
}

.head-division>div {
    display: flex;
    align-items: center;
}

.list-of-docters {
    height: 100%;
}

.list-of-docters-main {
    display: flex;
    height: 4.5rem;
    border-bottom: 1px solid #e1e5eb;
}

.list-of-docters>div {}

.list-of-docters-main>div:first-child {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-of-docters-main>div:first-child>div {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 2rem;
    background-color: #d7dbe0;
    border: 1px solid #d7dbe0;
}

.list-of-docters-main>div:last-child {
    padding: 0.3rem 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.chai-pagination{
    display: flex;
    margin: 1rem;
}
.chai-pagination>div, .chai-pagination>div>img{
    cursor: pointer;
    width: 38px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #eaeef3;
}

/* Hospital View */